<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>I am <%= @user.username %> </h2>

<% if user_signed_in? %>
<%= link_to "Follow", friendships_path(:friend_id =>@user), method: :post %>
<% end %>

<br>
<h3>Following</h3>
<ul>
<% for friendship in @user.friendships %>
  <li>
    <%= friendship.friend.username %>
    (<%= link_to 'remove', friendship, method: :delete%>)
  </li>
<% end %>
</ul>
<br>
<br>
<h3>Followers</h3>
<ul>
<% for user in @user.inverse_friends %>
  <li>
    <%= user.username %>
  </li>
<% end %>
</ul>
