<p id="notice"><%= notice %></p>
<p>
    <strong>Created by: </strong>
    <%= link_to @project.user.username, @project.user  %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.body %>
</p>

<h2>Comments</h2>
<%= render partial: "comments/comment" %>
<%= render partial: "comments/form" %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
